<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../ASSETS/IMAGES/GUJRAT RESTAURENT/Gujrat.png" type="image/x-icon">
    <title>GUJRAT RESTAURENT</title>
    <style>
        h1 {
            text-align: center;
        }
    </style>
</head>

<body>
    <div id="Guj">
        <div id="GujMain">
            <hr>
            <marquee behavior="alternate" direction="" hspace="300px">
                <h1>WELCOME TO GUJRAT RESTAURENT</h1>
            </marquee>
            <hr>
        </div>
        <table align="center">
            <tr>
                <td rowspan="2"><img src="../ASSETS/IMAGES/GUJRAT RESTAURENT/Gujrat_Sheff-removebg-preview.png" alt=""
                        width="300px"></td>
                <td><img src="../ASSETS/IMAGES/GUJRAT RESTAURENT/Gujrat.png" alt="" width="500px"></td>
                <td rowspan="2"><img src="../ASSETS/IMAGES/GUJRAT RESTAURENT/Gujrat_Sheff-removebg-preview.png" alt=""
                        width="300px"></td>
            </tr>
            <tr>
                <!-- <td></td> -->
                <td align="center"><img src="../ASSETS/IMAGES/GUJRAT RESTAURENT/Restaurent.png" alt="" width="200px">
                </td>
                <!-- <td></td> -->
            </tr>
        </table>
        <hr>
        <div id="BreakFast">
            <hr>
            <h1>BREAKFAST</h1>
            <hr>

            <table border="1px solid" align="center" cellspacing="7px">
                <tr>
                    <td>
                        <h1>1.Chevdo</h1>
                    </td>
                    <td>
                        <h1>2.Gathiya</h1>
                    </td>
                    <td>
                        <h1>3.Handvo</h1>
                    </td>
                    <td>
                        <h1>4.Jalebi</h1>
                    </td>
                    <td>
                        <h1>5.Kadak Puri</h1>
                    </td>
                </tr>
                <tr>
                    <td><img src="../ASSETS/IMAGES/GUJRAT RESTAURENT/BREAKFAST/Chevdo.webp" alt="" height="220px"
                            width="274px"></td>
                    <td><img src="../ASSETS/IMAGES/GUJRAT RESTAURENT/BREAKFAST/Gathiya.png" alt="" height="220px"
                            width="274px"></td>
                    <td><img src="../ASSETS/IMAGES/GUJRAT RESTAURENT/BREAKFAST/Handvo.jpeg" alt="" height="220px"
                            width="274px"></td>
                    <td><img src="../ASSETS/IMAGES/GUJRAT RESTAURENT/BREAKFAST/Jalebi and fafda.jpeg" alt=""
                            height="220px" width="274px"></td>
                    <td><img src="../ASSETS/IMAGES/GUJRAT RESTAURENT/BREAKFAST/Kadak puri.jpg" alt="" height="220px"
                            width="274px"></td>
                </tr>
                <tr>
                    <td>
                        <p>Chevdo/chewdo – Kenya style Recipe ia s Gujarat snack mix with rice flakes, potato crisps,
                            lentils and nuts usually made at celebrations like Diwali. There are lots of variations of
                            chevdo and Kenya chevdo has it’s own unique taste. Kenyan’s like to eat the chevdo with
                            onions and lemon or with the Kenyan tomato sauce which again is an acquired taste.</p>
                    </td>
                    <td>
                        <p>gathiya recipe | gathia recipe | bhavnagari tikha gathiya sev recipe with a detailed photo
                            and video recipe. a popular tea time gujarati snack made from deep frying the the spiced
                            besan mixture. the recipe is very similar to the farsan or kara sev but less crispy and
                            dissolves like a butter in the mouth</p>
                    </td>
                    <td>
                        <p>handvo recipe | how to make gujarati handvo recipe | mixed dal handvo with detailed photo and
                            video recipe. a healthy and tasty mixed lentil vegetable cake recipe from the popular
                            gujarati cuisine.</p>
                    </td>
                    <td>
                        <p>Jalebi is one of the most popular desserts in India. This crispy and crunchy dessert is
                            dipped in sugar syrup and is loaded with flavours. Fafda is basically a deep-fried crispy
                            snack which is typically enjoyed with Jalebi and mainly served for breakfast or for an
                            evening snack.</p>
                    </td>
                    <td>
                        <p>Jalebi is one of the most popular desserts in India. This crispy and crunchy dessert is
                            dipped in sugar syrup and is loaded with flavours. Fafda is basically a deep-fried crispy
                            snack which is typically enjoyed with Jalebi and mainly served for breakfast or for an
                            evening snack.</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h1>&#8360.30</h1>
                    </td>
                    <td>
                        <h1>&#8360.35</h1>
                    </td>
                    <td>
                        <h1>&#8360.40</h1>
                    </td>
                    <td>
                        <h1>&#8360.50</h1>
                    </td>
                    <td>
                        <h1>&#8360.25</h1>
                    </td>
                </tr>
            </table>
        </div>
        <div id="Lunch">
            <hr>
                <h1>LUNCH</h1>
            <hr>
            <table border="1px solid" align="center" cellsapcing="7px">
                <tr>
                    <td><h1>1.Butter Chicken</h1></td>
                    <td><h1>2.Mutton Korma</h1></td>
                    <td><h1>3.Paneer Gravy</h1></td>
                    <td><h1>4.Paneer Tikkas</h1></td>
                    <td><h1>5.Puran Poli</h1></td>
                </tr>
                <tr>
                    <td><img src="../ASSETS/IMAGES/GUJRAT RESTAURENT/LUNCH/ButterChicken.jpg" alt="" height="220px" width="274px"></td>
                    <td><img src="../ASSETS/IMAGES/GUJRAT RESTAURENT/LUNCH/Mutton Korma.jpg" alt="" height="220px" width="274px"></td>
                    <td><img src="../ASSETS/IMAGES/GUJRAT RESTAURENT/LUNCH/Paneer Gravee.jpg" alt="" height="220px" width="274px"></td>
                    <td><img src="../ASSETS/IMAGES/GUJRAT RESTAURENT/LUNCH/Paneer Tikka.jpeg" alt="" height="220px" width="274px"></td>
                    <td><img src="../ASSETS/IMAGES/GUJRAT RESTAURENT/LUNCH/PuranPoli.jpeg" alt="" height="220px" width="274px"></td>
                </tr>
                <tr>
                    <td><p>Butter chicken is prepared with marinated chicken that's first grilled and then served in a rich gravy (a.k.a. curry) made with tomato, butter, and a special spice blend as a base.</p></td>
                    <td><p>Mutton korma is a classic rich and fragrant curry to prepare for a special occasion such as Eid, a family get-together, any kind of special event.</p></td>
                    <td><p>paneer masala recipe dhaba style | dhaba style paneer curry | paneer gravy with detailed photo and video recipe. an extremely popular and tasty way to prepare a rich and creamy paneer recipe with spices and yoghurt</p></td>
                    <td><p>Paneer Tikka is a popular and delicious tandoori snack where Paneer (Indian cottage cheese cubes) are marinated in a spiced yogurt-based marinade, arranged on skewers and grilled in the oven.</p></td>
                    <td><p></p></td>
                </tr>
                <tr>
                    <td><h1>&#8360.150</h1></td>
                    <td><h1>&#8360.190</h1></td>
                    <td><h1>&#8360.100</h1></td>
                    <td><h1>&#8360.110</h1></td>
                    <td><h1>&#8360.80</h1></td>
                </tr>
            </table>
        </div>
    </div>
</body>

</html>