<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../ASSETS/IMAGES/INDIAN RESTAURENT/Indian-removebg-preview.png" type="image/x-icon">
    <title>INDIAN RESTAURENT</title>
    <style>

    </style>
</head>
<body>
    <div>
        <hr>
        <marquee behavior="alternate" direction="" height="55px" scrollamount="15" hspace="300px"><h1>WELCOME TO INDIAN RESTAURENT</h1></marquee>
        <hr>
        <table align="center">
            <tr>
                <td><img src="../ASSETS/IMAGES/INDIAN RESTAURENT/10a1f5b9d736f95e4247216920970051-removebg-preview.png" alt="" height="350px" width="400px"></td>
                <td><img src="../ASSETS/IMAGES/INDIAN RESTAURENT/Indian-removebg-preview.png" alt=""></td>
                <td><img src="../ASSETS/IMAGES/INDIAN RESTAURENT/10a1f5b9d736f95e4247216920970051-removebg-preview.png" alt="" height="350px" width="400px"></td>
            </tr>
        </table>
        <hr>

        <table cellspacing="7px" align="center">
            <tr>
                <td><a href="http://127.0.0.1:5500/PROJECTS/PROJECT%208/SRC/COMPONENTS/MAHARASTRA.html"><img src="../ASSETS/IMAGES/MAHARASTRA RESTAURENT/Maharastra.png" alt="" width="300px"></a></td>
                <td><a href="http://127.0.0.1:5500/PROJECTS/PROJECT%208/SRC/COMPONENTS/GUJRAT.html"><img src="../ASSETS/IMAGES/GUJRAT RESTAURENT/Gujrat.png" alt="" width="300px"></a></td>
                <td><a href=""><img src="../ASSETS/IMAGES/PUNJAB RESTAURENT/Punjabi-design-beauty-name-removebg-preview.png" alt="" width="300px"></a></td>
                <td><a href=""><img src="../ASSETS/IMAGES/DELHI RESTAURENT/Delhi.png" alt="" width="300px"></a></td>

            </tr>
            <tr>
                <td><a href="http://127.0.0.1:5500/PROJECTS/PROJECT%208/SRC/COMPONENTS/MAHARASTRA.html"><h4>MAHARASTRA RESTAURENT</h4></a></td>
                <td><a href="http://127.0.0.1:5500/PROJECTS/PROJECT%208/SRC/COMPONENTS/GUJRAT.html"><h4>GUJRAT RESTAURENT</h4></a></td>
                <td><a href=""><h4>PUNJAB RESTAURENT</h4></a></td>
                <td><a href=""><h4>DELHI RESTAURENT</h4></a></td>
            </tr>
        </table>
        <hr>
        
        
        
    </div>
</body>
</html>