<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="../ASSETS/IMAGES/MAHARASTRA RESTAURENT/Maharastra.png" type="image/x-icon" />
  <title>MAHARASTRA RESTAURENT</title>
</head>
<style>
  td {
    text-align: center;
  }

  p {
    text-align: justify;
  }

  h1 {
    text-align: center;
  }
</style>

<body>
  <div id="MH">
    <hr />
    <marquee behavior="alternate" direction="" hspace="300px">
      <h1>WELCOME TO MAHARASTRA RESTAURENT</h1>
    </marquee>
    <hr />
    <table align="center">
      <tr>
        <td rowspan="2">
          <img src="../ASSETS/IMAGES/MAHARASTRA RESTAURENT/Cook-removebg-preview.png" alt="" width="250px" />
        </td>
        <td>
          <img src="../ASSETS/IMAGES/MAHARASTRA RESTAURENT/Maharastra.png" alt="" width="300px" />
        </td>
        <td rowspan="2">
          <img src="../ASSETS/IMAGES/MAHARASTRA RESTAURENT/Cook-removebg-preview.png" alt="" width="250px" />
        </td>
      </tr>
      <tr>
        <!-- <td></td> -->
        <td>
          <img src="../ASSETS/IMAGES/MAHARASTRA RESTAURENT/Restaurent.png" alt="" width="300px" />
        </td>
        <!-- <td></td> -->
      </tr>
    </table>
    <hr />
    <div id="BreakFast">
      <hr />
      <h1>BREAKFAST</h1>
      <hr />
      <table border="1px solid" align="center" cellspacing="7px">
        <tr>
          <th>
            <h1>1.Kanda Poha</h1>
          </th>
          <th>
            <h1>2.Misal Pav</h1>
          </th>
          <th>
            <h1>3.Pav Bhaji</h1>
          </th>
          <th>
            <h1>4.Vadapav</h1>
          </th>
          <th>
            <h1>5.Thalipeeth</h1>
          </th>
        </tr>
        <tr>
          <td>
            <img src="../ASSETS/IMAGES/MAHARASTRA RESTAURENT/BREAKFAST/KandaPoha.jpg" alt="" width="290px" />
          </td>
          <td>
            <img src="../ASSETS/IMAGES/MAHARASTRA RESTAURENT/BREAKFAST/MisalPav.webp" alt="" height="217px"
              width="290px" />
          </td>
          <td>
            <img src="../ASSETS/IMAGES/MAHARASTRA RESTAURENT/BREAKFAST/PavBhaji.jpeg" alt="" height="219px"
              width="290px" />
          </td>
          <td>
            <img src="../ASSETS/IMAGES/MAHARASTRA RESTAURENT/BREAKFAST/Vadapav.png" alt="" height="220px"
              width="290px" />
          </td>
          <td>
            <img src="../ASSETS/IMAGES/MAHARASTRA RESTAURENT/BREAKFAST/Thalipeeth.jpg" alt="" height="220px"
              width="290px" />
          </td>
        </tr>
        <tr>
          <td>
            <p>
              If there’s one ever-present breakfast dish in a Maharashtrian household, it has to be the Poha. Poha
              recipe with its few versions like Kanda Poha, Dadpe Pohe and Indori Poha – is the staple preparation with
              flattened rice, herbs and spices. This Kanda Poha recipe is a comforting and tasty Pohe made with onions,
              potatoes, peanuts plus the usual Indian spices and herbs. The recipe is naturally vegan and gluten-free.
            </p>
          </td>
          <td>
            <p>Misal pav is a popular Maharashtrian street food of usal (sprouts curry) topped with onions, tomatoes,
              farsan (fried savory mixture), lemon juice, coriander leaves and served with a side of soft pav (Indian
              dinner rolls). The sprouts curry is made from moth bean sprouts. This misal recipe is a tasty and filling
              vegan dish that can be served as breakfast, lunch or brunch.</p>
          </td>
          <td>
            <p>The joy of adding your own homemade spice powders to any dish that you are making at home is unmatched.
              This is the reason I at least try and prepare mine at home. Just like this Pav Bhaji Masala, a spice mix
              that is essential for the famous Mumbai street food special recipe of Pav Bhaji. With this amazing Pav
              Bhaji Masala recipe, you’ll be able to make this spice mix easily at home.</p>
          </td>
          <td>
            <p>Vada Pav is a savory and spicy soft dinner rolls or fluffy buns, referred to as Pav, stuffed with a fried
              batter coated potato dumpling fritter called Batata Vada and laced with spicy and sweet chutneys. It is a
              popular vegan street food snack eaten in Mumbai and rest of the Maharashtra state in Western India. This
              dish is filling, delish, full of flavors and has various textures!</p>
          </td>
          <td>
            <p>Instant thalipeeth recipe with step by step pics. Thalipeeth is a spiced flat bread made from multigrain
              flour. Thalipeeth makes for a healthy, tasty and nutritious breakfast or snack. You can even pack them in
              the lunch box. You may find the list of ingredients, a little lengthy. But don’t worry, as the recipe
              otherwise, is quite easy and simple.</p>
          </td>
        </tr>
        <tr>
          <td>
            <h1>&#8360.20</h1>
          </td>
          <td>
            <h1>&#8360.40</h1>
          </td>
          <td>
            <h1>&#8360.80</h1>
          </td>
          <td>
            <h1>&#8360.15</h1>
          </td>
          <td>
            <h1>&#8360.50</h1>
          </td>
        </tr>
      </table>
    </div>
    <div id="Lunch">
      <hr>
      <h1>LUNCH</h1>
      <hr>
      <table border="1px solid" cellspacing="7px" align="center">
        <tr>
          <td>
            <h1>1.Puran Poli</h1>
          </td>
          <td>
            <h1>2.Paneer Gravy</h1>
          </td>
          <td>
            <h1>3.Kaju Curry</h1>
          </td>
          <td>
            <h1>4.Basundi</h1>
          </td>
          <td>
            <h1>5.Mutton Curry</h1>
          </td>
        </tr>
        <tr>
          <td><img src="../ASSETS/IMAGES/MAHARASTRA RESTAURENT/LUNCH/PuranPoli.jpeg" alt="" height="220px"
              width="290px"></td>
          <td><img src="../ASSETS/IMAGES/MAHARASTRA RESTAURENT/LUNCH/Paneer Gravee.jpg" alt="" height="220px"
              width="290px"></td>
          <td><img src="../ASSETS/IMAGES/MAHARASTRA RESTAURENT/LUNCH/KajuKari.jpg" alt="" height="220px" width="290px">
          </td>
          <td><img src="../ASSETS/IMAGES/MAHARASTRA RESTAURENT/LUNCH/Basundi.jpg" alt="" height="220px" width="290px">
          </td>
          <td><img src="../ASSETS/IMAGES/MAHARASTRA RESTAURENT/LUNCH/MuttonCurry.jpg" alt="" height="220px"
              width="290px"></td>
        </tr>
        <tr>
          <td>
            <p>My delightful Puran Poli recipe with step-by-step photos will show you how to make the traditional Indian
              treat. This lentil stuffed sweet flatbread is a popular Maharashtrian recipe made during Ganesh Chaturthi,
              Diwali, Holi or any other festive occasion. While it does take a bit of skill and patience to make, the
              results are well worth it! And as an added bonus, this sweet recipe also happens to be pretty darn
              nutritious, meaning you can even eat it for breakfast.</p>
          </td>
          <td>
            <p>Paneer Butter Masala is one of India’s most popular paneer recipes, and with good reason! Indian cottage
              cheese cubes are smothered in a creamy, lightly spiced tomato sauce that is downright delicious. With my
              video and step-by-step guide you can easily make this restaurant style Paneer Butter Masala recipe at
              home!</p>
          </td>
          <td>
            <p>Kaju curry is a restaurant style delicious recipe of a creamy kaju butter masala with a rich, tangy,
              sweet flavorful gravy made with cashews, tomatoes, cream and spices. Kaju is the Hindi word for cashews.
              This recipe of kaju masala has an overload of cashews as they are added twice during the cooking process.
              Serve with roti, naan, paratha or steamed rice for a sumptuous and filling lunch or dinner.</p>
          </td>
          <td>
            <p>Basundi is a rich, creamy Indian sweet or dessert that’s made with whole milk and flavored with fragrant
              spices, nuts and optionally dry fruits like raisins. My easy basundi recipe is ready in under 30 minutes
              thanks to a secret ingredient. I use sweetened condensed milk to prepare this wonderfully indulgent dish
              in a jiffy! Here you’ll find step-by-step instructions and photos to make the best (and fastest) basundi
              from scratch.</p>
          </td>
          <td>
            <p>A flavor packed, authentic, comforting and easy mutton curry (lamb curry) recipe. This is a long-standing
              family recipe of mine that I’m sharing with you in all its glory! Deliciously tender meat, simmered in a
              coconut gravy, spiced with aromatic Sri Lankan curry spices.

              Learn how to make the most flavorful and authentic mutton curry (or lamb curry). Perfect to pair with
              other curries like red lentil curry, cauliflower curry, carrot curry, green bean stir fry etc.</p>
          </td>
        </tr>
        <tr>
          <td>
            <h1>&#8360.80</h1>
          </td>
          <td>
            <h1>&#8360.110</h1>
          </td>
          <td>
            <h1>&#8360.120</h1>
          </td>
          <td>
            <h1>&#8360.140</h1>
          </td>
          <td>
            <h1>&#8360.200</h1>
          </td>
        </tr>
      </table>
    </div>
    <div id="Dinner">
      <hr>
      <h1>DINNER</h1>
      <hr>
      <table border="1px solid" align="center" cellspacing="7px">
        <tr>
          <td>
            <h1>1.Pithla Bhakri</h1>
          </td>
          <td>
            <h1>2.Bharli Vangi</h1>
          </td>
          <td>
            <h1>3.Aluchi Vadi</h1>
          </td>
          <td>
            <h1>4.Sabudana Khichdi</h1>
          </td>
          <td>
            <h1>5.Aamrus</h1>
          </td>
        </tr>
        <tr>
          <td><img src="../ASSETS/IMAGES/MAHARASTRA RESTAURENT/DINNER/Pithla-Bhakri.png" alt="" height="220px" width="270px"></td>
          <td><img src="../ASSETS/IMAGES/MAHARASTRA RESTAURENT/DINNER/Bharli-Vangi-resized.png" alt="" height="220px" width="270px"></td>
          <td><img src="../ASSETS/IMAGES/MAHARASTRA RESTAURENT/DINNER/Aluchi-Vadi.png" alt="" height="220px" width="270px"></td>
          <td><img src="../ASSETS/IMAGES/MAHARASTRA RESTAURENT/DINNER/Sabudana-Khichdi.png" alt="" height="220px" width="270px"></td>
          <td><img src="../ASSETS/IMAGES/MAHARASTRA RESTAURENT/DINNER/Aamrus-resized.png" alt="" height="220px" width="270px"></td>
        </tr>
        <tr>
          <td>
            <p>When you talk about Maharashtra’s authentic food, nothing can be more traditional than Pithla Bhakri. A
              go-to comfort food for many locals, it is termed as the ‘farmer’s food.’ Having hot pithla with freshly
              made bhakri is the best comfort food you can have after a long and tiring day.

              A simple and uncomplicated dish of Maharashtra’s food, it is one of the best recipes you can try at home,
              especially when you don’t have vegetables or too many ingredients to prepare a full meal.</p>
          </td>
          <td>
            <p>This is a dish that takes the humble brinjal to a whole new level. It’s brinjals stuffed with a magical
              mix of coconut, onion, jaggery, and Marathi goda masala. This food of Maharashtra is like a flavour
              explosion in your mouth! This ingenious combo turns the brinjal into a culinary masterpiece, and no wonder
              it's a Maharashtrian favourite. Whether you pair it with rice or flatbreads, Bharli Vangi is a true
              testament to the creativity and versatility of Maharashtrian cooking. The rich, earthy flavours and that
              melt-in-your-mouth texture are irresistible, you've got to try it to believe it! </p>
          </td>
          <td>
            <p>A popular savoury vegetarian snack from the Malvan region of Maharashtra, Aluchi Vadi is every food
              lover’s delight. You must try this authentic food of Maharashtra!

              The basic ingredient of this dish is the Colocasia leaves. It is stuffed with a delicious mixture of gram
              flour, rice flour, jaggery, tamarind juice, and a plethora of spices. </p>
          </td>
          <td>
            <p>Sabudana Khichdi, one of the best breakfast dishes of Maharashtra, is a tapioca delight enjoyed during
              fasting or as a light meal. The dish rocks a unique texture with soft sabudana pearls, crunchy peanuts,
              aromatic spices, and a lemony kick. Garnished with cilantro and served with yoghurt, it's a flavourful
              dish with a unique, tempting texture. </p>
          </td>
          <td>
            <p>Aamrus, a summer delight of Maharashtra cuisine, is a crowd-pleaser during mango season. Featuring thick
              mango pulp, it's a simple and delightful treat served with puris or chapatis. Bursting with sweet, tangy
              flavours and a luscious texture, it captures the essence of summer.</p>
          </td>
        </tr>
        <tr>
          <td>
            <h1>&#8360.70</h1>
          </td>
          <td>
            <h1>&#8360.80</h1>
          </td>
          <td>
            <h1>&#8360.85</h1>
          </td>
          <td>
            <h1>&#8360.70</h1>
          </td>
          <td>
            <h1>&#8360.110</h1>
          </td>
        </tr>
      </table>
    </div>
  </div>
</body>

</html>